@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face definitions */
@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Regular.woff2") format("woff2"),
    url("/fonts/Aeonik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Various font weights and styles for 'Aeonik' */
/* (similar definitions for other font weights and styles omitted for brevity) */

/* Global styles */
body {
  font-family: "Aeonik";
  background-color: white;
  cursor: none;
}
.hero__container svg {
  width: 100%;
  height: auto !important;
}
.hero__video {
  transform: translateY(0);
}

/* Custom cursor styles */
.custom-cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ededed;
  mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}
.custom-cursor.expanded {
  width: 32px;
  height: 32px;
}

/* Link container and hover effect */
.link-container {
  display: flex;
}
.link-container:hover .svg-move {
  transform: translate(3px, -3px);
}
.svg-move {
  transition: transform 0.3s ease-out;
}

/* Hamburger text style */
.hamburger-text {
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
}

/* Slider carousel and item styles */
/* .slider-carousel {
  display: flex;
  flex-direction: row;
  gap: 200px;
  overflow: hidden;
  justify-content: flex-start;
} */
/* .carousel-item {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  transform-origin: center center;
} */
.carousel-inner {
  position: relative;
  width: 1024px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* .carousel-size {
  width: 100%;
  height: 580px;
  object-fit: cover;
} */
/* .carousel-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  padding: 40px 50px;
  text-align: left;
  z-index: 1;
} */
/* .carousel-title,
.carousel-disc {
  width: 253px;
  font-size: 40px;
  font-weight: 700;
  line-height: 123%;
  margin-bottom: 55px;
}
.carousel-disc {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
} */
/* .carousel-icon {
  display: flex;
  justify-content: center;
} */
.pt-600 {
  padding-top: 600px;
}
/* .pt-1000 {
  padding-top: 1000px;
} */
.pl-100 {
  margin-left: 130px;
}
@media (max-width: 991px) {
  /* .slider-carousel {
    flex-direction: column;
    gap: 70px;
  }
  .carousel-size {
    height: 600px;
  }
  .carousel-backdrop {
    padding: 30px 40px;
  }
  .carousel-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .carousel-disc {
    font-size: 10px;
    margin-bottom: 40px;
  } */
  .pt-600 {
    padding-top: 10px;
  }
  /* .pt-1000 {
    padding-top: 800px;
  } */
}
@media (max-width: 768px) {
  /* .slider-carousel {
    flex-direction: column;
    gap: 40px;
  }
  .carousel-size {
    height: 300px;
  }
  .carousel-backdrop {
    padding: 20px 30px;
  }
  .carousel-title {
    width: 30px;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .carousel-disc {
    width: 120px;
    font-size: 8px;
    margin-bottom: 30px;
  } */
  .pt-600 {
    padding-top: 40px;
  }
  /* .pt-1000 {
    padding-top: 60px;
  } */
}

/* Brand slider animation */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}
.brand-style {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.container-brand-slider {
  display: flex;
  animation: slide-left 10s linear infinite;
  width: 200%;
}
.main-brand-slider {
  flex: 1 0 10.2857%;
}
.brand-image {
  transition: 0.3s;
  width: 250px;
}
@media (max-width: 991px) {
  .brand-image {
    width: 120px;
  }
}

/* Footer styles */
.footer {
  background-color: #2a357a;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}
.footer.show {
  transform: translateY(0%);
}
.footer .container {
  width: 100%;
}
.footer-email,
.footer-subemail,
.footer-titlesubmit,
.footer-sosmed,
.footer-contact,
.footer-copyright {
  font-size: 20px;
  font-weight: 400;
  line-height: 123%;
}
.footer-phone,
.footer-term {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}
.footer-letstalk {
  font-size: 16px;
  font-weight: 700;
  line-height: 123%;
}
.footer-email {
  font-size: 60px;
}
.footer-subemail {
  color: #82caaa;
}
.footer-sosmed:hover {
  color: #2a357a;
  border-color: #2a357a;
}
/* .footer-copyright {
  line-height: 150%;
  position: absolute;
  right: 0;
  bottom: 0;
} */
/* Margin and padding adjustments */
.mt-44 {
  margin-top: 54px;
}
.mb-44 {
  margin-bottom: 54px;
}
.-ml-28 {
  margin-left: -28px;
}
/* Input styles */
input {
  width: 100%;
  background-color: transparent;
  border-bottom-width: 2px;
}
input:focus {
  outline: none;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  /* Footer adjustments for tablets and smaller */
  .footer {
    position: relative;
    transform: translateY(100%);
  }
  .footer.show {
    transform: translateY(0%);
  }
  .footer-letstalk,
  .footer-term,
  .footer-email,
  .footer-subemail,
  .footer-titlesubmit,
  .footer-sosmed,
  .footer-copyright {
    font-size: 18px;
  }
  .footer-email {
    font-size: 40px;
  }
  .footer-subemail {
    font-size: 16px;
  }
  .footer-titlesubmit {
    font-size: 18px;
  }
  .footer-sosmed {
    font-size: 18px;
    margin-top: 20px;
  }
  .footer-copyright {
    font-size: 16px;
  }
  .mt-44 {
    margin-top: 24px;
  }
  .mb-44 {
    margin-bottom: 24px;
  }
  .-ml-28 {
    margin-left: -16px;
  }
  input {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .footer-email {
    font-size: 30px;
  }
  .footer-titlesubmit,
  .footer-sosmed {
    font-size: 16px;
  }
  .footer-copyright {
    font-size: 14px;
  }
  .mt-44,
  .mb-44 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  input {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .footer {
    display: none;
  }
}
/* Footer Mobile */
@media (min-width: 768px) {
  #FooterMobile {
    display: none;
  }
}
.footer-mobile {
  background-color: #2a357a;
  color: #fff;
  height: 100%;
}
.footer-mobile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-mobile__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-mobile__menu li {
  margin-bottom: 35px;
}
.footer-mobile__letstalk,
.footer-mobile__phone,
.footer-mobile__number,
.footer-mobile__subscribe,
.footer-mobile__term,
.footer-mobile__privacy {
  font-size: 20px;
}
.footer-mobile__hello {
  font-size: 36px;
  font-weight: 500;
  line-height: 123%;
}
.footer-mobile__phone {
  display: flex;
}

.footer-mobile__number {
  text-decoration: underline;
}
.footer-mobile__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
}
.footer-mobile__button {
  margin-left: -30px;
}
.footer-mobile__socmed {
  display: inline-flex;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}
.footer-mobile__socmed:hover {
  background-color: #fff;
  color: #2a357a;
}
.footer-mobile__term,
.footer-mobile__privacy {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.footer-mobile__copyright {
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
}
.footer-mobile__logo img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}
