@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html {
  overflow-y: auto;
  overflow-anchor: none;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: white;
  cursor: none;
  overflow-y: auto;
  overflow-anchor: none;
}
.hero__container svg {
  width: 100%;
  height: auto !important;
}

/* Custom cursor styles */
.custom-cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ededed;
  mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}
.custom-cursor.expanded {
  width: 32px;
  height: 32px;
}
/* Brand slider animation */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-slide-left {
  animation: slide-left 10s linear infinite;
}

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.stop-scrolling {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.underlined_button p {
  position: relative;
}
.underlined_button p:before {
  width: 0;
  left: 0;
}
.underlined_button p:after,
.underlined_button p:before {
  content: '';
  background-color: #1a1a1a;
  height: 2px;
  position: absolute;
  bottom: -0.5rem;
  transition: width 0.3s ease-in-out;
}
.underlined_button p:after {
  width: 100%;
  right: 0;
}
.underlined_button p:hover:before {
  width: 100%;
  transition-delay: 0.2s;
}
.underlined_button p:hover:after {
  width: 0;
}
.capabilities_capability {
  border-top: 1px solid #000;
}
.capabilities_capability:last-child {
  border-bottom: 1px solid #000;
}
.capabilties_no_scrollbar::-webkit-scrollbar {
  display: none;
}
#digital-experience-scroller {
  overflow: hidden;
}
.form_form_wrapper {
  width: 100%;
}
.form_form_wrapper input.form_lastname,
.form_form_wrapper input.form_name {
  width: 95%;
}
.form_form_wrapper input,
.form_form_wrapper textarea {
  color: #080808;
  font-size: 1.0625vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #080808;
  width: 100%;
}
.form_form_wrapper input::-moz-placeholder,
.form_form_wrapper textarea::-moz-placeholder {
  color: #080808;
  opacity: 0.8;
}
.form_form_wrapper input::placeholder,
.form_form_wrapper textarea::placeholder {
  color: #080808;
  opacity: 0.8;
}
.form_form_wrapper textarea {
  resize: none;
  overflow: hidden;
  height: 55px;
}
.form_buttons_wrapper {
  gap: 0.625rem;
  flex-wrap: wrap;
  margin-top: 3.5rem;
}
.form_button_pill {
  border: 1px solid #080808;
  border-radius: 2.5rem;
  padding: 0.625rem 1rem;
  font-size: 0.875vw;
  color: #080808;
  cursor: pointer;
}
.form_button_pill.form_active,
.form_button_pill:hover {
  background-color: #080808;
  color: #fff;
}
@media (max-width: 1750px) {
  .form_form_wrapper input,
  .form_form_wrapper textarea {
    color: #080808;
    font-size: 1.0625rem;
  }
  .form_button_pill {
    font-size: 0.875rem;
  }
}
.footer_email_footer {
  position: relative;
  cursor: pointer;
  display: inline-flex;
}
.footer_email_footer_line {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
  bottom: -0.5rem;
  right: 0;
  transition: width 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.footer_email_footer.footer_contact .footer_email_footer_line {
  background-color: #080808;
  bottom: -1.5vw;
  width: 0;
}
.footer_email_footer_line.footer_two {
  width: 0;
  transition-delay: 0.2s;
  left: 0;
  right: unset;
}
.footer_email_footer:hover .footer_email_footer_line {
  width: 0;
}
.footer_email_footer:hover .footer_email_footer_line.footer_two {
  width: 100%;
}
.footer_email_footer_tooltip {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem 1.5rem;
  color: #080808;
  display: inline-table;
  border-radius: 8px;
  margin: auto;
  scale: 0;
  transform-origin: center;
  transition: scale 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.footer_email_footer.footer_contact .footer_email_footer_tooltip {
  background-color: #080808;
  color: #fff;
}
.footer_email_footer:hover .footer_email_footer_tooltip {
  scale: 1;
}
@media (max-width: 1024px) {
  .footer_footer_join_input input {
    width: 100%;
  }
  .footer_footer_wrapper form,
  .footer_footer_wrapper li,
  .footer_footer_wrapper p {
    opacity: 1;
  }
  .footer_email_footer_line {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer_footer_info_socials ul li:nth-child(n + 2) {
    margin-top: 0;
  }
  .footer_footer_info_socials a {
    font-size: 0.875rem;
  }
  .footer_footer_info_socials ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .footer_footer_join_input input {
    font-size: 1.5rem;
    padding: 0.5625rem 2.5625rem 1rem 0;
  }
  .footer_email_footer_line {
    display: none;
  }
}
.menu_menu_link {
  position: relative;
  padding-bottom: 3px;
}
.menu_menu_link:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #080808;
  position: absolute;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.menu_menu_link:hover:after {
  width: 100%;
}
@media (max-width: 1024px) {
  .menu_menu_link:after {
    display: none;
  }
}
.perspective_letters span {
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: translateY(100%);
  display: flex;
  opacity: 0;
}
@media (max-width: 1024px) {
  .perspective_letters span {
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translateY(0);
    display: flex;
    opacity: 1;
  }
}

/* General Styles */
.footer_footer_join_input {
  display: flex;
  position: relative;
  align-items: center;
}

.footer_footer_join_input form {
  position: relative;
}

.footer_footer_join_input form p {
  font-size: 1.063rem;
  color: #fff;
  line-height: 100%;
  position: absolute;
  bottom: -1.5rem;
}

.footer_footer_join_input input {
  background: transparent;
  border-bottom: 1px solid #f7f7f7c4;
  color: #f7f7f7c4;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  width: 35.0625rem;
  padding: 0.5625rem 2.5625rem 1.5625rem 0;
}

.footer_footer_join_input button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer_footer_info_socials a {
  color: #fff;
  font-size: 1.063rem;
  font-weight: 400;
  letter-spacing: -0.0175rem;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  padding: 0.625rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 2.5rem;
  border: 1px solid #f7f7f7;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer_footer_info_socials a:hover {
  background-color: #fff;
  color: #080808;
}

.footer_footer_info_socials ul li {
  display: flex;
}

.footer_footer_info_socials ul li:not(:first-child) {
  margin-top: 12px;
}

.footer_email_footer {
  position: relative;
  cursor: pointer;
  display: inline-flex;
}

.footer_email_footer_tooltip {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem 1.5rem;
  color: #080808;
  display: inline-table;
  border-radius: 8px;
  margin: auto;
  scale: 0;
  transform-origin: center;
  transition: scale 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.footer_email_footer.footer_contact .footer_email_footer_tooltip {
  background-color: #080808;
  color: #fff;
}

.footer_email_footer:hover .footer_email_footer_tooltip {
  scale: 1;
}

/* Media Queries */
@media (max-width: 1024px) {
  .footer_footer_join_input input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer_footer_info_socials ul li:not(:first-child) {
    margin-top: 0;
  }

  .footer_footer_info_socials a {
    font-size: 0.875rem;
  }

  .footer_footer_info_socials ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .footer_footer_join_input input {
    font-size: 1.5rem;
    padding: 0.5625rem 2.5625rem 1rem 0;
  }
}

/* Work Section Styles */
.work_animated_final_header {
  scale: 5;
  transform: translateY(90vh) translateX(62%);
}

.work_section_animated_top.work_ended {
  position: relative !important;
}

.work_work_title video {
  width: 0;
  height: 100%;
  max-height: 8vw;
  min-height: 8vw;
  overflow: hidden;
}

.work_work_title:hover video {
  width: 12.5vw;
}

@media (max-width: 1450px) {
  .work_work_title video {
    max-height: 11vw;
    min-height: 10.3vw;
  }

  .work_work_title:hover video {
    width: 15.8vw;
  }
}

@media (max-width: 1024px) {
  .work_work_title video {
    width: 300px;
    height: 18.2vw;
    max-height: 18.2vw;
    min-height: 18.2vw;
  }
}

@media (max-width: 768px) {
  .work_work_title video {
    width: 200px;
    height: 17.2vw;
    max-height: 17.2vw;
    min-height: 17.2vw;
  }
}

@media (max-width: 600px) {
  .work_work_title video {
    width: 120px;
    height: 75px;
    max-height: 75px;
    min-height: 75px;
  }
}

@media (max-height: 650px) and (min-width: 1024px) {
  .work_work_title {
    transform: translateY(25vh) translateX(5%);
  }
}

.work_animated_final_header,
.work_section_animated_top.work_ended {
  scale: 5;
  transform: translateY(90vh) translateX(62%);
}

.work_section_animated_top.work_ended {
  position: relative !important;
}

/* Consolidate repeated .work_work_title video styles */
.work_work_title video {
  width: 0;
  height: 100%;
  max-height: 8vw;
  min-height: 8vw;
  overflow: hidden;
}

.work_work_title:hover video {
  width: 12.5vw;
}

/* Media queries for .work_work_title video */
@media (max-width: 1450px) {
  .work_work_title video {
    max-height: 11vw;
    min-height: 10.3vw;
  }

  .work_work_title:hover video {
    width: 15.8vw;
  }
}

@media (max-width: 1024px) {
  .work_work_title video {
    width: 300px;
    height: 18.2vw;
    max-height: 18.2vw;
    min-height: 18.2vw;
  }
}

@media (max-width: 768px) {
  .work_work_title video {
    width: 200px;
    height: 17.2vw;
    max-height: 17.2vw;
    min-height: 17.2vw;
  }
}

@media (max-width: 600px) {
  .work_work_title video {
    width: 120px;
    height: 75px;
    max-height: 75px;
    min-height: 75px;
  }
}
